<ion-header [translucent]="true">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text=""
          color="light">
      </ion-back-button>
    </ion-buttons>
    
    <ion-title>QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card id="foto">
    <ion-img src="assets/qr.png"></ion-img>
  </ion-card>


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">QR</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
