.cardpipe {
    border: 2px solid black;
}

.texto-presente {
    color: green;
    font-weight: bold;
    font-family:'Roboto';
    font-size: 15px;
}

.texto-ausente {
    color: red;
    font-weight: bold;
    font-family:'Roboto';
    font-size: 15px;
}

.texto-justificado {
    color: orange;
    font-weight: bold;
    font-family:'Roboto';
    font-size: 15px;
}

.texto {
    font-family:'Roboto';
    font-size: 15px;
}