<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="titulo">
      Secciones
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()" >
        <ion-icon slot="end" name="settings-outline"  size="large" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <!-- Sección 1 -->
    <ion-card class="cardpipe">
      <ion-accordion>
        <ion-item slot="header">
          <ion-label class="texto">Programación Web - Sección 001D</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item>
              <ion-label class="texto">Felipe Rauque</ion-label>
              <ion-text slot="end" class="texto-presente">Presente</ion-text>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Bruce Angel</ion-label>
              <ion-text slot="end" class="texto-ausente">Ausente</ion-text>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Elias Figueroa</ion-label>
              <ion-text slot="end" class="texto-justificado">Justificado</ion-text>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
    </ion-card>
    
    <!-- Sección 2 -->
    <ion-card class="cardpipe">
      <ion-accordion>
        <ion-item slot="header">
          <ion-label class="texto">Programación Web - Sección 002D</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item>
              <ion-label class="texto">Alexis Morales</ion-label>
              <ion-text slot="end" class="texto-presente">Presente</ion-text>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Cedre Morales</ion-label>
              <ion-text slot="end" class="texto-ausente">Ausente</ion-text>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Benjamin Arancibia</ion-label>
              <ion-text slot="end" class="texto-justificado">Justificado</ion-text>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
    </ion-card>
    
    <!-- Sección 3 -->
    <ion-card class="cardpipe">
      <ion-accordion>
        <ion-item slot="header">
          <ion-label class="texto">Programación Web - Sección 003D</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item>
              <ion-label class="texto">Ignacio Venegas</ion-label>
              <ion-text slot="end" class="texto-presente">Presente</ion-text>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Dante Inostroza</ion-label>
              <ion-text slot="end" class="texto-ausente">Ausente</ion-text>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Luciano Meyer</ion-label>
              <ion-text slot="end" class="texto-justificado">Justificado</ion-text>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
    </ion-card>

      <!-- Sección 1 -->

    <ion-card class="cardpipe">
      <ion-accordion>
        <ion-item slot="header">
          <ion-label class="texto">Programación de App Móvil - Sección 001D</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item>
              <ion-label class="texto">Felipe Rauque</ion-label>
              <ion-text slot="end" class="texto-presente">Presente</ion-text>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Bruce Angel</ion-label>
              <ion-text slot="end" class="texto-ausente">Ausente</ion-text>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Elias Figueroa</ion-label>
              <ion-text slot="end" class="texto-justificado">Justificado</ion-text>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
    </ion-card>
    
    <!-- Sección 2 -->
    <ion-card class="cardpipe">
      <ion-accordion>
        <ion-item slot="header">
          <ion-label class="texto">Programación de App Móvil - Sección 002D</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item>
              <ion-label class="texto">Alexis Morales</ion-label>
              <ion-text slot="end" class="texto-presente">Presente</ion-text>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Cedre Morales</ion-label>
              <ion-text slot="end" class="texto-ausente">Ausente</ion-text>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Benjamin Arancibia</ion-label>
              <ion-text slot="end" class="texto-justificado">Justificado</ion-text>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
    </ion-card>
    
    <!-- Sección 3 -->
    <ion-card class="cardpipe">
      <ion-accordion>
        <ion-item slot="header">
          <ion-label class="texto">Programación de App Móvil - Sección 003D</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item>
              <ion-label class="texto">Ignacio Venegas</ion-label>
              <ion-text slot="end" class="texto-presente">Presente</ion-text>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Dante Inostroza</ion-label>
              <ion-text slot="end" class="texto-ausente">Ausente</ion-text>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Luciano Meyer</ion-label>
              <ion-text slot="end" class="texto-justificado">Justificado</ion-text>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
    </ion-card>
  </ion-accordion-group>
</ion-content>

