<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text=""
          color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-header>
    <ion-card-title class="titulo">Docente:</ion-card-title>
  </ion-card-header>

  <ion-card class="cardpipe" >
    <ion-card-header>
      <ion-card-title style="font-family:'Roboto'; font-size: 21px;">Viviana Poblete</ion-card-title>
      <br>
      <ion-card-subtitle style="font-family:'Roboto'; font-size: 21px;">Programación de Aplicaciones Moviles 
        Programación Web
      </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label style="font-family:'Roboto'; font-size: 21px;">vivi.poblete㋡profesor.duocuc.cl</ion-label>
      </ion-item>
  
      <ion-item lines="none">
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label style="font-family:'Roboto'; font-size: 21px;">+56945438392</ion-label>
      </ion-item>
  
      <ion-item lines="none">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label style="font-family:'Roboto'; font-size: 21px;">Maipú, Santiago</ion-label>
      </ion-item>
    </ion-card-content> 
  </ion-card>
</ion-content>

