#borde{
    border: 2px solid #333333; /* Borde del card */
    border-radius: 5px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgb #e8e8e7; /* Sombra para darle profundidad */

}

#tittle{
    text-align: center;
    text-size-adjust: 10px;
}//

//  ion-fab {
  //    margin-bottom: 30px; /* Ajusta la distancia desde el borde inferior */
  //    margin-right: 30px;  /* Ajusta la distancia desde el borde derecho */
  //    color: #981914;
//    }

//    ion-fab-button {
  //    --width: 80px;  /* Ancho del botón */
  //    --height: 80px; /* Altura del botón */
  //    --border-radius: 50%; /* Mantiene el botón circular */
//    }

//    ion-fab-button ion-icon {
  //    font-size: 32px; /* Tamaño del icono */
//    }

#button1{
    color:#981914;
}

