<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="titulo">Justificaciones</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()" >
        <ion-icon slot="end" name="settings-outline"  size="large" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-accordion-group>
  <ion-card class="cardpipe">
    <ion-accordion>
      <ion-item slot="header">
        <ion-label class="texto">Cedre Morales - Sección 002D</ion-label>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item>
            <ion-label class="texto">Razón:</ion-label>
            <ion-text class="texto">Asistí a una cita médica previamente agendada.</ion-text>
          </ion-item>
          <ion-item>
            <ion-label class="texto">Dia:</ion-label>
            <ion-text class="texto">09/09/2024</ion-text>
          </ion-item>
          <ion-item>
            <ion-label class="texto">Asignatura:</ion-label>
            <ion-text class="texto">Programación de App Movil</ion-text>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-card>

  <ion-card class="cardpipe">
    <ion-accordion>
      <ion-item slot="header">
        <ion-label class="texto">Felipe Rauque - Sección 001D</ion-label>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item>
            <ion-label class="texto">Razón:</ion-label>
            <ion-text class="texto">Tuve un problema familiar urgente.</ion-text>
          </ion-item>
          <ion-item>
            <ion-label class="texto">Dia:</ion-label>
            <ion-text class="texto">05/09/2024</ion-text>
          </ion-item>
          <ion-item>
            <ion-label class="texto">Asignatura:</ion-label>
            <ion-text class="texto">Programación Web</ion-text>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-card>

  <ion-card class="cardpipe">
    <ion-accordion>
      <ion-item slot="header">
        <ion-label class="texto">Alexis Morales - Sección 002D</ion-label>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item>
            <ion-label class="texto">Razón:</ion-label>
            <ion-text class="texto">Tenía una entrevista de trabajo.</ion-text>
          </ion-item>
          <ion-item>
            <ion-label class="texto">Dia:</ion-label>
            <ion-text class="texto">02/09/2024</ion-text>
          </ion-item>
          <ion-item>
            <ion-label class="texto">Asignatura:</ion-label>
            <ion-text class="texto">Programación Web</ion-text>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-card>

  <ion-card class="cardpipe">
    <ion-accordion>
      <ion-item slot="header">
        <ion-label class="texto">Dante Inostroza - Sección 003D</ion-label>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item>
            <ion-label class="texto">Razón:</ion-label>
            <ion-text class="texto">Estaba enfermo y no pude asistir.</ion-text>
          </ion-item>
          <ion-item>
            <ion-label class="texto">Dia:</ion-label>
            <ion-text class="texto">06/09/2024</ion-text>
          </ion-item>
          <ion-item>
            <ion-label class="texto">Asignatura:</ion-label>
            <ion-text class="texto">Programación de App Movil</ion-text>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-card>

</ion-accordion-group>
</ion-content>