#centrar{
    text-align: center;
    padding-bottom: 10px;
}

.item{
    --border-color:#000000;
    --border-width:2px ;
    --padding-bottom: 20px;
    border-radius: 5px;
}

.texto {
    font-family:'Roboto';
    font-size: 20px;
}